include cdk.json
include requirements.txt
include webflow_aws/backend/networking/functions/editPathForOrigin.js
include webflow_aws/backend/compute/functions/index.checkLanguage.js
include webflow_aws/backend/compute/functions/index.s3TriggerArtifactsUpload.js
include webflow_aws/backend/compute/functions/package.json
include webflow_aws/backend/compute/functions/yarn.lock
include webflow_aws/backend/compute/functions/package-lock.json
recursive-exclude tests *